/*****************************************************************************/
/* Screen: Style */
/*****************************************************************************/
.screen {
  height: 100vh;
  overflow: hidden;
  background-color: black;
  color: white;

  transform: rotateY(180deg);

  .title, .poem {
    font-size: 4vw;
  }

  .title {
  }

  .poem {
  }

  .author {
    margin-top: 1em;
    font-size: 3vw;
  }

  .note {
    position: fixed;
    bottom: 0;
    font-size: 3vw;
    color: red;

    background-color: #333;

    img {
      height: 14vh;
    }
  }
}
